{% extends 'base.html' %}
{% block title %}搜索{% endblock %}
{% block content %}
<div class="container">
    {% if result %}
    <div class="col-xs-12 col-sm-12">
        <div class="jumbotron">
            <h1>搜索</h1>
        </div>
    <table class="table">
        <thead>
        <tr>
          <th>分类</th>
          <th>标题</th>
          <th>内容</th>
        </tr>
      </thead>
        <tbody>
        {% for k,v in result.items %}
            {% if v %}
                {% for i in v %}
                    <tr>
                      <th>{{ k }}</th>
                        {% if k == '科技服务' %}
                        <th><a href="/service/{{ i.id }}/">{{ i.name }}</a></th>
                        {% elif k == '医学健康' %}
                            <th><a href="/medicine/{{ i.id }}/">{{ i.name }}</a></th>
                        {% elif k == '技术支持' %}
                            <th><a href="/support/{{ i.id }}/">{{ i.name }}</a></th>
                        {% elif k == '新闻动态' %}
                            <th><a href="/about/news/{{ i.id }}/">{{ i.name }}</a></th>
                        {% endif %}

                      <th>{{ i.description |striptags |slice:"15" |safe  }}{{ i.content |striptags |slice:"15" |safe  }}</th>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div><!--/.col-xs-12.col-sm-9-->

    {% else %}
        <div class="jumbotron">
            <h1>搜索</h1>
            <p>无结果</p>
        </div>
        <div style="height: 300px;padding: 50px;text-align: center">

        </div>
    {% endif %}
</div>
{% endblock %}
{% block js %}


</script>
{% endblock %}