{% extends 'base.html' %}
{% block title %}科技服务{% endblock %}
{% block content %}
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
            <h1>科技服务</h1>
        </div>
        {{ description|safe }}
    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
          {% for k, v in request.session.service.items %}
              <h4>{{ k }}</h4>
            {% for i in v %}
            <a href="{{ i.0 }}" class="list-group-item {% if request.path == i.0 %}active{% endif %}">{{ i.1 }}</a>
            {% endfor %}
          {% endfor %}
      </div>
    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->
</div><!--/.container-->
{% endblock %}
{% block js %}

<script>

</script>
{% endblock %}