{% extends 'base.html' %}
{% block title %}招贤纳士{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>招贤纳士</h1>
        <h5>简历投递方式</h5>
        <p>如果您有兴趣加入我们，请投递简历至sunxiaohui@aksontech.cn，我们期待您的加入！</p>
    </div>
    {% for foo in item %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ foo.title }}
                  <span class="text-muted" style="font-size: 16px">{{ foo.work_place }}</span>
              </h2>
                <h4>岗位职责：</h4>
                <p>{{ foo.duty|safe }}</p>
                <h4>岗位要求：</h4>
                <p>{{ foo.request|safe }}</p>
            </div>
            <div class="col-md-5"></div>
        </div>
            <hr>
        {% else %}
        <div class="row featurette">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ foo.title }}
                  <span class="text-muted" style="font-size: 16px">{{ foo.work_place }}</span>
              </h2>
                <h4>岗位职责：</h4>
                <p>{{ foo.duty|safe }}</p>
                <h4>岗位要求：</h4>
                <p>{{ foo.request|safe }}</p>
            </div>
        </div>
        <hr>
        {% endif %}
    {% endfor %}
</div><!--/.container-->
{% endblock %}
{% block js %}

<script>

</script>
{% endblock %}